// **************************************************************************************************
//
// Enthought color scheme with named colors defined here:
// https://github.com/enthought/design-assets/blob/master/branding/colors/Enthought_Main_Palette.txt
//
// **************************************************************************************************

$royal: #253370;
$cornflower: #598EC0;
$sky: #9BBDE2;
$darkgray: #656565;
$mediumgray: #ACAFB3;
$lightgray: #DDDDDD;
$gold: #EDAA1E;
$bronze: #F3CC7A;
$fern: #62AE70;

// deprecated:
$enthought-slide-blue: #27466C;
// known now as ...
$dark-midnight: #27466C;
