//
// Enthought theme: additional styles specific to Enthought Training site
//
// ----------------------------------------------------------------------

body {
    // compensate for the fixed footer at the bottom of the page
    padding-bottom: 2rem;
}


.wrapper-footer.gray-gradient {
    // box & layout
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    z-index: 10;

    footer {
        width: 100%;
        font-size: smaller;
    }

    // colors
    background: transparent none;
    @include gradient-vertical(lighten($darkgray, 10%), $darkgray);

    a {
        color: #ccc;
        &:hover {
            color: white;
            text-decoration: underline;
        }
    }
}

.copyright {
    float: left;

    span {
        color: white;
    }
}

.footer-links {
    float: right;

    .colophon {
        display: inline-block;

        ol {
            list-style: none;
            list-style-type: none;

            li {
                display: inline-block;
                margin-left: 1rem;
            }
        }
    }

    .references {
        display: inline-block;
    }
}

@import "shame"; // Why? See note in _shame.scss
