## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<div class="wrapper-footer gray-gradient">
  <footer>
    <div class="copyright">
      <span>ALL CONTENT &copy; 2008-2015. Enthought, Inc.</span>
    </div>
    <div class="footer-links">
    ## just a wrapper to create another flex-box here with different
    ## justify-cotent value
      <div class="colophon">
        <nav class="nav-colophon">
          <ol>
            <li><a href="https://www.enthought.com/company/#about" target="_blank">About Enthought</a></li>
            <li><a href="https://www.enthought.com/licenses/" target="_blank">Terms of Use</a></li>
            <li><a href="https://support.enthought.com/entries/30797510-Welcome-to-Enthought-Training-on-Demand"
                   target="_blank">Help</a></li>
          </ol>
        </nav>
      </div>
      <div class="references">
        <span>( Built on <a href="http://code.edx.org" target="_blank">OpenEdX</a> )</span>
      </div>
    </div>
  </footer>
</div>
