## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<div class="wrapper-footer gray-gradient">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="https://www.enthought.com/company/#about">About Enthought</a></li>
          <li><a href="${reverse('tos')}">Terms of Service</a></li>
          <li><a href="${marketing_link('FAQ')}">Help</a></li>
        </ol>
      </nav>
    </div>
    <div class="references">
      <span>( Built on <a href="http://code.edx.org" target="_blank">OpenEdX</a> )</span>
    </div>
  </footer>
</div>
